<% if (typeof alert !== 'undefined' && alert.length > 0) { %>
    <div id="alertPopup" class="alert-popup">
      <% alert.forEach(message => { %>
        <p><%= message %></p>
      <% }); %>
    </div>
<% } %>
  
<script src="/scripts/alert.js"></script>