<!DOCTYPE html>
<html lang="en">
<%- include('partials/header', { title: title }) %>
<body>
    <%- include('partials/nav') %>
    <div class="container" style="text-align: center;">
        <h2>Error Page</h2>
        <div><%= `Error ${id}` %></div>
        <div><%= `Details: ${error}` %></div>
    </div>
</body>
</html>